.container {
  padding: 33px 17px;
  margin-bottom: 84px;
}

@media (min-width: 600px) {
  .container {
    padding: 58px 17px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    padding: 33px 17px 92px 17px;
    margin: 0 auto;
    max-width: 400px;
  }
}

.body {
  margin-top: 50px;
  margin-bottom: 22px;
  max-width: 450px;
}

@media (min-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 189px;
    justify-content: space-between;
  }
}
.map {
  margin-top: 36px;
  display: flex;
  justify-content: center;
}
.instrucciones {
  margin-top: 18px;
  margin-bottom: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
}
.buttonCancelar {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;

  background: #cdcdcd;
  border-radius: 4px;
  border: none;
  height: 50px;
  width: 335px;
  margin: 0 auto;
  margin-top: 18px;
}
