.container {
  padding: 33px 17px;
  margin-bottom: 84px;
}

@media (min-width: 600px) {
  .container {
    padding: 58px 17px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
  }
}
@media (max-width: 599px) {
  .container {
    padding: 33px 17px 92px 17px;
    margin: 0 auto;
    max-width: 400px;
  }
}

.body {
  margin-top: 50px;
  margin-bottom: 22px;
  max-width: 450px;
  min-height: 33vh;
}

@media (min-width: 600px) {
  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 33vh;
    justify-content: space-between;
  }
}
